mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

main {
    background-color: #4e2a8b;
    height: 100%;
    color:white;
    z-index: 0;
    padding: 10px;

}