a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: lightgray;
}

mat-toolbar {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    z-index: 50;
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
