<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon><span class="nav-caption">Home</span>
    </a>

    <a mat-list-item routerLink="/motorcycles" (click)="onSidenavClose()">
        <mat-icon>directions_bike</mat-icon><span class="nav-caption">Motorcycles</span>
    </a>

    <a mat-list-item routerLink="/thirdPage" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Third Page</span>
    </a>
</mat-nav-list>