<mat-grid-list cols="12" rowHeight="100%" gutterSize="8px">
    <mat-grid-tile colspan="5">
        <mat-card>
            <mat-tab-group>
                <mat-tab label="Overview"><app-overview></app-overview></mat-tab>
                <mat-tab label="Add Motorcycle">motoToevoegen</mat-tab>
                <mat-tab label="Remove Motorcycle"><app-delete></app-delete></mat-tab>
            </mat-tab-group>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="7">
        <mat-card>
            <li *ngIf="motorcycleModel">{{motorcycleModel | json}}</li>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
